{% extends 'speedtest/base.html' %}

{% block content_block %}
    {% load static %}
        <h1 class="title-performance">Network Dashboard - Version 0.91</h1>

<canvas id="down/upload_chart" width="400" height="125"></canvas>
<canvas id="ping_chart" width="400" height="75"></canvas>
<script>
var endpoint = '/api';

$.ajax({
  method: "GET",
  url: endpoint,
  success: function(data) {
    drawLineGraph(data, 'down/upload_chart', data.datasets, data.axis_context_top);
    drawLineGraph(data, 'ping_chart', data.ping_dataset, data.axis_context_bottom);
  },
  error: function(error_data) {
    console.log(error_data);
  }
})


function drawLineGraph(data, id, datasets, axis) {
    var labels = data.labels;
    var ctx = document.getElementById(id).getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: labels,
            datasets: datasets,
        },
        // Configuration options go here
        options: {
            tooltips: {
                mode: 'index',
                enabled: true,
            },
            hover: {
                mode: 'nearest',
                enabled: true,
            },
            scales: {
                xAxes: [{
                    display: true,
                    type: 'time'
                }],
                yAxes: axis
            }
        }

    });
}
</script>



<table class="table">
  <thead>
    <tr>
        <th scope="col">Alias</th>
        <th scope="col">IP Address</th>
        <th scope="col">Server IP</th>
        <th scope="col">Download</th>
        <th scope="col">Upload</th>
        <th scope="col">Ping</th>
        <th scope="col">Date Time</th>
    </tr>
  </thead>
  <tbody class="scrollable">
    {% for test in testresult_list %}
    <tr>
        <td>{{ test.alias }}</td>
        <td>{{ test.ip_address }}</td>
        <td>{{ test.server_ip }}</td>
        <td>{{ test.download }}</td>
        <td>{{ test.upload }}</td>
        <td>{{ test.ping }}</td>
        <td>{{ test.test_datetime }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>


{% endblock %}
